@import url("https://fonts.googleapis.com/css?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  color: #fff;
  background: #09001d;
  overflow: hidden;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 10%;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo {
  font-size: 32px;
  color: #1e5492;
  text-decoration: none;
  font-weight: 700;
  filter: drop-shadow(0 0 5px #e1dfe3);
}

.navbar a {
  font-size: 18px;
  color: #050505;
  text-decoration: none;
  font-weight: 500;
  margin-left: 35px;
  transition: 0.3s;
}

.navbar a:hover,
.navbar a.active {
  color: #1e5492;
}

.main {
  min-height: 100vh;
  background-image: url("background-pic.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  pointer-events: auto;
  transition: 0.3s ease;
}

.main.active {
  filter: blur(15px);
  pointer-events: none;
}

.container {
  display: flex;
  height: 100vh;
  width: 200%;
}

.home {
  position: relative;
  left: -50%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-content {
  max-width: 700px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.home-content h1 {
  font-size: 48px;
  font-weight: 700;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  text-align: center;
  filter: drop-shadow(0 0 5px #09001d);
}

.home-content p {
  font-size: 16px;
  text-align: center;
  color: #050505;
  margin-bottom: 30px;
}

.home-content .start-btn {
  width: 190px;
  height: 55px;
  background: #1e5492;
  border: 2px solid #fff;
  outline: none;
  border-radius: 6px;
  box-shadow: 0 0 10px #c4d5db;
  font-size: 18px;
  color: #fff;
  letter-spacing: 1px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.5s;
}

.home-content .start-btn:hover {
  background: #09001d;
  box-shadow: none;
}

.popup-info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.9);
  width: 500px;
  background: #fff;
  border-radius: 6px;
  padding: 10px 25px;
  opacity: 0;
  pointer-events: none;
  transition: 0.3s ease;
}

.popup-info.active {
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -50%) scale(1);
}

.popup-info h2 {
  font-size: 50px;
  color: #1e5492;
}

.popup-info .info {
  display: inline-block;
  font-size: 16px;
  color: #333;
  font-weight: 500;
  margin: 4px 0;
}

.popup-info .btn-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #999;
  margin-top: 10px;
  padding: 15px 0 7px;
}

.popup-info .btn-group .info-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 45px;
  background: #1e5492;
  border: 2px solid #1e5492;
  outline: none;
  border-radius: 6px;
  text-decoration: none;
  font-size: 16px;
  color: #fff;
  font-weight: 600;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: 0.5s;
}

.popup-info .btn-group .info-btn:nth-child(1) {
  background: transparent;
  color: #1e5492;
}

.popup-info .btn-group .info-btn:nth-child(1):hover {
  background: #1e5492;
  color: #fff;
}

.popup-info .btn-group .info-btn:nth-child(2):hover {
  background: #1e5492;
  border-color: #afb9c5;
}

.quiz-section {
  position: relative;
  left: -50%;
  width: 100%;
  background: #09001d;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  transition: 0.8s ease-in-out;
}

.quiz-section.active {
  left: 0;
}

.quiz-box {
  position: relative;
  width: 500px;
  background: transparent;
  border: 2px solid #1e5492;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  padding: 20px 30px;
  opacity: 0;
  pointer-events: none;
  transform: scale(0.9);
}

.quiz-box.active {
  opacity: 1;
  pointer-events: auto;
  transform: scale(1);
  transition: 1s ease;
  transition-delay: 1s;
}

.quiz-box h1 {
  font-size: 32px;
  text-align: center;
  background: linear-gradient(45deg, transparent, #1e5492, transparent);
  border-radius: 6px;
}

.quiz-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  border-bottom: 2px solid #1e5492;
}

.quiz-header span {
  font-size: 18px;
  font-weight: 500;
}

.quiz-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 2px solid #1e5492;
  padding-top: 10px;
  margin-top: 25px;
}

.quiz-footer .question-total {
  font-size: 16px;
  font-weight: 600;
}

.quiz-footer .header-timer {
  font-size: 16px;
  font-weight: 600;
}

.quiz-footer #timer {
  font-size: 18px;
  font-weight: 700;
  color: #c40094;
  margin-left: 5px;
}

.quiz-footer .next-btn {
  width: 100px;
  height: 45px;
  background: rgba(255, 255, 255, 0.1);
  border: 2px solid rgba(255, 255, 255, 0.1);
  outline: none;
  border-radius: 6px;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.3);
  font-weight: 600;
  cursor: pointer;
  transition: 0.5s;
}

.quiz-footer .next-btn:hover {
  background: #3d66b3;
  border-color: #01958b;
}

.option {
  width: 100%;
  background: none;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 4px;
  font-size: 13px;
  margin: 15px 0;
  cursor: pointer;
  transition: 0.3s;
}

.option:hover {
  background: rgba(106, 101, 101, 0.756);
  border-color: rgba(255, 255, 255, 0.634);
}

.option.correct {
  background-color: #28a745;
  color: white;
}

.option.incorrect {
  background-color: #dc3545;
  color: white;
}

.option.disabled {
  pointer-events: none;
  cursor: default;
  opacity: 0.6;
}

.congrats-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.9);
  width: 400px;
  background: #fff;
  border-radius: 6px;
  padding: 20px;
  opacity: 0;
  pointer-events: none;
  transition: 0.3s ease;
  display: none;
}

.congrats-box.active {
  opacity: 1;
  display: block;
  pointer-events: auto;
  transform: translate(-50%, -50%) scale(1);
}

.congrats-box .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  color: #c40094;
  margin-bottom: 10px;
}

.congrats-box .congrats-text {
  font-size: 24px;
  font-weight: 600;
  color: #09001d;
  text-align: center;
  margin-bottom: 10px;
}

.congrats-box .score_text {
  font-size: 18px;
  font-weight: 500;
  color: #333;
  text-align: center;
  margin-bottom: 20px;
}

.congrats-box .buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.congrats-box .buttons button {
  width: 120px;
  height: 45px;
  background: #c40094;
  border: 2px solid #c40094;
  outline: none;
  border-radius: 6px;
  text-decoration: none;
  font-size: 16px;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  transition: 0.5s;
}

.congrats-box .buttons button:hover {
  background: #950170;
  border-color: #950170;
}
